* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-text-color: darkblue
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;

}

h1 {
    color: var(--heading-text-color);
    border-bottom: 1px solid rgba(49, 106, 152, 0.774);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    /* margin: 1rem; */
    /* border: 1px solid rgb(0 0 0 / 0.2); */
    /* padding: 1rem; */
    /* background-color: #eee; */
    /* color: #333; */
    text-align: center;
    position: relative;
}

h2 {
    position: absolute;
    top: 30px;
    left: 120px;
    color: papayawhip;
    background-color: #33333342;
    padding: 5px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.4);
    background-color: rgb(202, 198, 191);;
    color: #333;;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 420px);
}

.grid aside {
    order: -1;
}